<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.factorialsystems.msscwallet.dao.BVNVerificationMapper">
    <resultMap id="resultMap" type="io.factorialsystems.msscwallet.domain.BVNVerification">
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="bvn" property="bvn" jdbcType="VARCHAR"/>
        <result column="account_id" property="accountId" jdbcType="VARCHAR"/>
        <result column="first_name" property="firstName" jdbcType="VARCHAR"/>
        <result column="last_name" property="lastName" jdbcType="VARCHAR"/>
        <result column="middle_name" property="middleName" jdbcType="VARCHAR"/>
        <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR"/>
        <result column="date_of_birth" property="dateOfBirth" jdbcType="VARCHAR"/>
        <result column="verified" property="verified" jdbcType="BOOLEAN"/>
        <result column="verified_on" property="verifiedOn" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="column_list">
        id, account_id, bvn, first_name, last_name, middle_name, phone_number, date_of_birth, verified, verified_on
    </sql>

    <insert id="save" parameterType="io.factorialsystems.msscwallet.domain.BVNVerification">
        insert into bvn_verification(id, bvn, account_id, first_name, last_name, middle_name, date_of_birth, phone_number, verified)
        values(#{id}, #{bvn}, #{accountId}, #{firstName}, #{lastName}, #{middleName}, #{dateOfBirth}, #{phoneNumber}, #{verified})
    </insert>

    <update id="verify" parameterType="java.lang.String">
        update bvn_verification
        set verified = true, verified_on = now()
        where id = #{id}
    </update>

    <select id="findById" resultMap="resultMap">
        select
        <include refid="column_list"/>
        from bvn_verification
        where id = #{id}
    </select>

    <select id="checkIfExistsByUserId" parameterType="java.lang.String" resultType="java.lang.Boolean">
        select exists(select 1
              from bvn_verification bv, accounts a
              where a.user_id = #{id}
                and a.id = bv.account_id
                and bv.verified = true);
    </select>

    <select id="findByAccountIdVerified" parameterType="java.lang.String" resultMap="resultMap">
        select
        <include refid="column_list"/>
        from bvn_verification
        where account_id = #{id}
        and verified = true;
    </select>
</mapper>