<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.factorialsystems.msscprovider.dao.NewBulkRechargeMapper">
    <resultMap id="newBulkRechargeResultMap" type="io.factorialsystems.msscprovider.domain.rechargerequest.NewBulkRechargeRequest">
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="total_service_cost" property="totalServiceCost" jdbcType="DECIMAL"/>
        <result column="payment_id" property="paymentId" jdbcType="VARCHAR"/>
        <result column="payment_mode" property="paymentMode" jdbcType="VARCHAR"/>
        <result column="authorization_url" property="authorizationUrl" jdbcType="VARCHAR"/>
        <result column="redirect_url" property="redirectUrl" jdbcType="VARCHAR"/>
        <result column="closed" property="closed" jdbcType="BOOLEAN"/>
        <result column="running" property="running" jdbcType="BOOLEAN"/>
        <result column="auto_request_id" property="autoRequestId" jdbcType="VARCHAR"/>
        <result column="scheduled_request_id" property="scheduledRequestId" jdbcType="VARCHAR"/>
        <result column="email_id" property="emailId" jdbcType="VARCHAR"/>
        <result column="createdAt" property="createdAt" jdbcType="TIMESTAMP" />
    </resultMap>

    <resultMap id="individualRequestResultMap" type="io.factorialsystems.msscprovider.domain.rechargerequest.IndividualRequest">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="bulk_request_id" property="bulkRequestId" jdbcType="VARCHAR"/>
        <result column="auto_request_id" property="autoRequestId" jdbcType="VARCHAR"/>
        <result column="external_request_id" property="externalRequestId" jdbcType="VARCHAR"/>
        <result column="service_id" property="serviceId" jdbcType="INTEGER"/>
        <result column="service_code" property="serviceCode" jdbcType="VARCHAR"/>
        <result column="service_cost" property="serviceCost" jdbcType="DECIMAL"/>
        <result column="product_id" property="productId" jdbcType="VARCHAR"/>
        <result column="telephone" property="telephone" jdbcType="VARCHAR"/>
        <result column="failed" property="failed" jdbcType="BOOLEAN"/>
        <result column="failed_message" property="failedMessage" jdbcType="VARCHAR"/>
        <result column="refund_id" property="refundId" jdbcType="VARCHAR"/>
        <result column="successful_retry_id" property="retryId" jdbcType="VARCHAR"/>
        <result column="resolve_id" property="resolveId" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="requestRetryMap" type="io.factorialsystems.msscprovider.domain.rechargerequest.IndividualRequestRetry">
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="bulk_individual_request_id" property="requestId" jdbcType="VARCHAR"/>
        <result column="retried_on" property="retriedOn" jdbcType="TIMESTAMP"/>
        <result column="retried_by" property="retriedBy" jdbcType="VARCHAR"/>
        <result column="recipient" property="recipient" jdbcType="VARCHAR"/>
        <result column="successful" property="successful" jdbcType="BOOLEAN"/>
        <result column="status_message" property="statusMessage" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="bulk_column_list">
        id,
        user_id,
        total_service_cost,
        payment_id,
        closed,
        authorization_url,
        redirect_url,
        payment_mode,
        auto_request_id,
        scheduled_request_id,
        createdAt
    </sql>

    <sql id="individual_column_list">
        b.id,
        b.bulk_request_id,
        b.auto_request_id,
        b.external_request_id,
        b.recipient,
        b.service_id,
        p.service_code,
        b.service_cost,
        b.product_id,
        b.telephone,
        b.failed,
        b.failed_message,
        b.refund_id,
        b.successful_retry_id,
        b.resolve_id
    </sql>

    <sql id="retry_column_list">
        id,
        bulk_individual_request_id,
        retried_on,
        retried_by,
        recipient,
        successful,
        status_message
    </sql>

    <sql id="bulk_request_by_userid">
        <include refid="bulk_column_list"/>
        from providerdb.new_bulk_recharge_requests
        where user_id = #{id}
    </sql>

    <sql id="failed_requests">
        <include refid="bulk_column_list"/>
        from new_bulk_recharge_requests
        where id  in (
        select distinct bulk_request_id
        from providerdb.bulk_individual_requests
        where failed = true
        )
    </sql>

    <sql id="failed_unresolved_requests">
        <include refid="bulk_column_list"/>
        from new_bulk_recharge_requests
        where id  in (
        select distinct bulk_request_id
        from providerdb.bulk_individual_requests
        where failed = true
        and resolve_id is NULL
        and refund_id is NULL
        and successful_retry_id is NULL
        )
    </sql>

    <sql id="failed_individuals">
        <include refid="individual_column_list"/>
        from bulk_individual_requests b, provider_services p
        where b.bulk_request_id = #{id}
        and b.failed = true
        and b.service_id = p.id
    </sql>

    <sql id="failed_unresolved_individuals">
        <include refid="individual_column_list"/>
        from bulk_individual_requests b, provider_services p
        where b.bulk_request_id = #{id}
        and b.failed = true
        and b.successful_retry_id is NULL
        and b.refund_id is NULL
        AND b.resolve_id IS NULL
        and b.service_id = p.id
    </sql>

    <insert id="saveRetryRequest" parameterType="io.factorialsystems.msscprovider.domain.rechargerequest.IndividualRequestRetry">
        insert into bulk_individual_request_retries(id, bulk_individual_request_id, successful, status_message, retried_by, recipient)
        values(#{id}, #{requestId}, #{successful}, #{statusMessage}, #{retriedBy}, #{recipient})
    </insert>

    <update id="saveSuccessfulRetry" parameterType="java.util.Map">
        update providerdb.bulk_individual_requests set successful_retry_id = #{retryId} where id = #{id}
    </update>

    <select id="findRequestRetryById" parameterType="java.lang.String" resultMap="requestRetryMap">
        select
        <include refid="retry_column_list"/>
        from bulk_individual_request_retries where id = #{id}
    </select>

    <select id="findIndividualRequestById" parameterType="java.lang.Integer" resultMap="individualRequestResultMap">
        select
        <include refid="individual_column_list"/>
        from bulk_individual_requests b, new_bulk_recharge_requests n, provider_services p
        where b.bulk_request_id = n.id
        and b.service_id = p.id
        and b.id = #{id}
    </select>

    <select id="findIndividualRequestByQuery" parameterType="io.factorialsystems.msscprovider.domain.query.IndividualRequestQuery" resultMap="individualRequestResultMap">
        select
        <include refid="individual_column_list"/>
        from bulk_individual_requests b, new_bulk_recharge_requests n, provider_services p
        where n.user_id = #{userId}
        and b.bulk_request_id = n.id
        and b.service_id = p.id
        and b.id = #{id}
    </select>

    <select id="findRefundTotalByRequestId" parameterType="java.lang.String" resultType="double">
        select sum(service_cost) from providerdb.bulk_individual_requests
        where bulk_request_id = #{id}
        and failed = true
        and refund_id is NULL
        and successful_retry_id is NULL
    </select>


    <select id="findBulkRechargeById" parameterType="java.lang.String" resultMap="newBulkRechargeResultMap">
        select
        <include refid="bulk_column_list"/>
        from new_bulk_recharge_requests
        where id = #{id}
    </select>

    <select id="findBulkRequestByAutoId" parameterType="java.util.Map" resultMap="newBulkRechargeResultMap">
        select
        <include refid="bulk_column_list"/>
        from new_bulk_recharge_requests
        where user_id = #{userId}
        and auto_request_id = #{id}
    </select>

    <select id="findBulkIndividualRequests"  parameterType="java.lang.String" resultMap="individualRequestResultMap">
        select
        <include refid="individual_column_list"/>
        from bulk_individual_requests b, provider_services p
        where b.bulk_request_id = #{id}
        and   b.service_id = p.id
    </select>

    <select id="findBulkIndividualFailedRequests"  parameterType="java.lang.String" resultMap="individualRequestResultMap">
        select
        <include refid="individual_column_list"/>
        from bulk_individual_requests b, provider_services p
        where b.bulk_request_id = #{id}
        and b.failed = true
        and   b.service_id = p.id
    </select>

    <select id="findPagedBulkIndividualRequestsByScheduleId"  parameterType="java.lang.String" resultMap="individualRequestResultMap">
        select
        <include refid="individual_column_list"/>
        from bulk_individual_requests b, provider_services p
        where b.scheduled_request_id = #{id}
        and   b.service_id = p.id
    </select>

    <select id="findBulkIndividualRequestsByScheduleId"  parameterType="java.lang.String" resultMap="individualRequestResultMap">
        select
        <include refid="individual_column_list"/>
        from bulk_individual_requests b, provider_services p
        where b.scheduled_request_id = #{id}
        and   b.service_id = p.id
    </select>

    <select id="findPagedBulkIndividualRequests"  parameterType="java.lang.String" resultMap="individualRequestResultMap">
        select
        <include refid="individual_column_list"/>
        from bulk_individual_requests b, provider_services p
        where b.bulk_request_id = #{id}
        and   b.service_id = p.id
    </select>

    <insert id="saveBulkRecharge" parameterType="io.factorialsystems.msscprovider.domain.rechargerequest.NewBulkRechargeRequest" >
        insert into new_bulk_recharge_requests(id, user_id, total_service_cost, payment_id, payment_mode, authorization_url, redirect_url, auto_request_id, scheduled_request_id)
        values(#{id}, #{userId}, #{totalServiceCost},  #{paymentId},  #{paymentMode}, #{authorizationUrl}, #{redirectUrl}, #{autoRequestId}, #{scheduledRequestId})
    </insert>

    <update id="closeRequest" parameterType="java.lang.String">
        update new_bulk_recharge_requests set closed = true, running = false where id = #{id}
    </update>

    <update id="setIndividualRequestSuccess" parameterType="java.lang.Integer">
        update providerdb.bulk_individual_requests set failed = false where id = #{id}
    </update>

    <update id="setRunning" parameterType="java.lang.String">
        update providerdb.new_bulk_recharge_requests set running = true where id = #{id}
    </update>

    <update id="setEmailId" parameterType="java.util.Map">
        update providerdb.new_bulk_recharge_requests set email_id = #{emailId} where id = #{id}
    </update>

    <insert id="saveBulkIndividualRequests" parameterType="java.util.List">
        insert into bulk_individual_requests (bulk_request_id, service_id, service_cost, product_id, telephone, recipient, auto_request_id, external_request_id) values
        <foreach item="item" index="index" collection="list"  separator=",">
            (#{item.bulkRequestId, jdbcType=VARCHAR}, #{item.serviceId, jdbcType=INTEGER},
             #{item.serviceCost, jdbcType=DECIMAL}, #{item.productId, jdbcType=VARCHAR},
             #{item.telephone, jdbcType=VARCHAR}, #{item.recipient, jdbcType=VARCHAR},
             #{item.autoRequestId, jdbcType=VARCHAR}, #{item.externalRequestId, jdbcType=VARCHAR})
        </foreach>
    </insert>

    <insert id="saveRequestRetry" parameterType="io.factorialsystems.msscprovider.domain.rechargerequest.IndividualRequestRetry">
        insert into bulk_individual_request_retries(bulk_individual_request_id, successful, status_message)
        values (#{bulkIndividualRequestId}, #{successful}, #{statusMessage})

        <selectKey resultType="int" keyProperty="id" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="failIndividualRequest" parameterType="io.factorialsystems.msscprovider.service.model.IndividualRequestFailureNotification">
        update bulk_individual_requests set failed = true, failed_message = #{errorMsg} where id = #{id}
    </update>

    <select id="findBulkRequestByUserId" parameterType="java.lang.String" resultMap="newBulkRechargeResultMap">
        select
        <include refid="bulk_request_by_userid"/>
    </select>

    <select id="findListBulkRequestByUserId" parameterType="java.lang.String" resultMap="newBulkRechargeResultMap">
        select
        <include refid="bulk_request_by_userid"/>
    </select>

    <select id="searchByDate" parameterType="io.factorialsystems.msscprovider.domain.query.SearchByDate" resultMap="newBulkRechargeResultMap">
        select
        <include refid="bulk_column_list"/>
        from new_bulk_recharge_requests
        where date(createdAt) = date(#{ts})
        and user_id = #{userId}
    </select>

    <select id="searchFailedIndividual" parameterType="io.factorialsystems.msscprovider.dto.search.SearchIndividualDto" resultMap="individualRequestResultMap">
        select
        <include refid="individual_column_list"/>
        from bulk_individual_requests b, provider_services p
        where b.bulk_request_id = #{bulkId}
        and b.service_id = p.id
        and b.failed = true

        <if test="unresolved != null">
            and b.resolve_id is NULL
            and b.refund_id is NULL
            and b.successful_retry_id is NULL
        </if>

        <if test="recipient != null">
            and b.recipient like CONCAT(#{recipient}, '%')
        </if>

        <if test="product != null">
            and p.service_code like CONCAT(#{product}, '%')
        </if>
    </select>

    <select id="searchIndividual" parameterType="io.factorialsystems.msscprovider.dto.search.SearchIndividualDto" resultMap="individualRequestResultMap">
        select
        <include refid="individual_column_list"/>
        from bulk_individual_requests b, provider_services p
        where b.bulk_request_id = #{bulkId}
        and b.service_id = p.id
        <if test="recipient != null">
            and b.recipient like CONCAT(#{recipient}, '%')
        </if>

        <if test="status != null">
            and b.failed = #{status}
        </if>

        <if test="product != null">
            and p.service_code like CONCAT(#{product}, '%')
        </if>
    </select>

    <select id="search" parameterType="io.factorialsystems.msscprovider.dto.search.SearchBulkRechargeDto" resultMap="newBulkRechargeResultMap">
        select
        <include refid="bulk_column_list"/>
        from new_bulk_recharge_requests
        where user_id = #{userId}

        <if test="searchDate != null">
            and date(createdAt) = date(#{searchDate})
        </if>

        <if test="searchId != null">
            and id like CONCAT(#{searchId}, '%')
        </if>
    </select>

    <select id="adminFailedSearch" parameterType="io.factorialsystems.msscprovider.dto.search.SearchBulkFailedRechargeDto" resultMap="newBulkRechargeResultMap">
        select
        <include refid="bulk_column_list"/>
        from providerdb.new_bulk_recharge_requests
        where id in (select distinct bulk_request_id
                     from bulk_individual_requests
                     where failed = true
                    <if test="unresolved != null">
                        and resolve_id is NULL
                        and refund_id is NULL
                        and successful_retry_id is NULL
                    </if>
                     )
        <if test="searchDate != null">
            and date(createdAt) = date(#{searchDate})
        </if>

        <if test="searchId != null">
            and id like CONCAT(#{searchId}, '%')
        </if>
    </select>

    <update id="saveBulkRefund" parameterType="java.util.Map">
        update providerdb.bulk_individual_requests set refund_id = #{refundId}
        where bulk_request_id = #{id}
        and failed = true
        and refund_id is NULL
        and successful_retry_id is NULL
    </update>

    <update id="saveIndividualRefund" parameterType="java.util.Map">
       update providerdb.bulk_individual_requests set refund_id = #{refundId} where id = #{id}
    </update>

    <insert id="saveResolution" parameterType="io.factorialsystems.msscprovider.domain.SingleResolve">
        insert into bulk_individual_resolve_request(id, bulk_request_id, resolved_by, resolution_message)
        values (#{id}, #{rechargeId}, #{resolvedBy}, #{resolutionMessage})
    </insert>

    <update id="resolveBulkRequest" parameterType="java.util.Map">
        update providerdb.bulk_individual_requests set resolve_id = #{resolveId} where bulk_request_id = #{id}
    </update>

    <update id="resolveIndividualRequest" parameterType="java.util.Map">
        update providerdb.bulk_individual_requests set resolve_id = #{resolveId} where id = #{id}
    </update>

    <select id="findFailedUnResolvedRequests" resultMap="newBulkRechargeResultMap">
        select
        <include refid="failed_unresolved_requests"/>
    </select>

    <select id="findListFailedUnResolvedRequests" resultMap="newBulkRechargeResultMap">
        select
        <include refid="failed_unresolved_requests"/>
    </select>

    <select id="findFailedRequests" resultMap="newBulkRechargeResultMap">
        select
        <include refid="failed_requests"/>
    </select>

    <select id="findListFailedRequests" resultMap="newBulkRechargeResultMap">
        select
        <include refid="failed_requests"/>
    </select>

    <select id="findFailedIndividuals" parameterType="java.lang.String" resultMap="individualRequestResultMap">
        select
        <include refid="failed_individuals"/>
    </select>

    <select id="findListFailedIndividuals" parameterType="java.lang.String" resultMap="individualRequestResultMap">
        select
        <include refid="failed_individuals"/>
    </select>

    <select id="findFailedUnresolvedIndividuals" parameterType="java.lang.String" resultMap="individualRequestResultMap">
        select
        <include refid="failed_unresolved_individuals"/>
    </select>

    <select id="findListFailedUnresolvedIndividuals" parameterType="java.lang.String" resultMap="individualRequestResultMap">
        select
        <include refid="failed_unresolved_individuals"/>
    </select>
</mapper>

