<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.factorialsystems.msscprovider.dao.ProviderCategoryMapper">
    <resultMap id="categoryResultMap" type="io.factorialsystems.msscprovider.domain.ProviderCategory">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
        <result column="createdAt" property="createdDate" jdbcType="TIMESTAMP"/>
        <result column="createdBy" property="createdBy" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Column_List">
       id, category_name, createdAt, createdBy
    </sql>

    <select id="findAll" resultMap="categoryResultMap">
        select
        <include refid="Column_List"/>
        from provider_categories
    </select>

    <select id="findById" parameterType="java.lang.Integer" resultMap="categoryResultMap">
        select
        <include refid="Column_List"/>
        from provider_categories
        where id=#{id}
    </select>

    <select id="findByName" parameterType="java.lang.String" resultMap="categoryResultMap">
        select
        <include refid="Column_List"/>
        from provider_categories
        where category_name=#{name}
    </select>

    <select id="search" parameterType="java.lang.String" resultMap="categoryResultMap">
        select
        <include refid="Column_List"></include>
        from provider_categories
        where category_name like CONCAT(#{search}, '%')
    </select>


    <insert id="save" parameterType="io.factorialsystems.msscprovider.domain.ProviderCategory">
        insert into provider_categories(category_name, createdBy)
        values (#{categoryName}, #{createdBy})

        <selectKey resultType="int" keyProperty="id" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="update" parameterType="io.factorialsystems.msscprovider.domain.ProviderCategory">
        update provider_categories
        <set>
            <if test="categoryName != null">category_name=#{categoryName}</if>
        </set>
        where id = #{id}
    </update>
</mapper>
