<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.factorialsystems.msscprovider.dao.RingoDataPlanMapper">
    <resultMap id="ringoDataPlanResultMap" type="io.factorialsystems.msscprovider.domain.RingoDataPlan">
        <id column="product_id" property="id" jdbcType="VARCHAR" />
        <result column="network" property="network" jdbcType="VARCHAR"/>
        <result column="category" property="category" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="allowance" property="allowance" jdbcType="VARCHAR"/>
        <result column="validity" property="validity" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="column_list">
       product_id, network, category, price, allowance, validity
    </sql>

    <select id="findAll" resultMap="ringoDataPlanResultMap">
        select
        <include refid="column_list"/>
        from ringo_data_plans
    </select>

    <select id="findByNetworkId" parameterType="java.lang.String" resultMap="ringoDataPlanResultMap">
        select
        <include refid="column_list"/>
        from ringo_data_plans where network = #{id}
    </select>


    <select id="findById" parameterType="java.lang.String" resultMap="ringoDataPlanResultMap">
        select
        <include refid="column_list"/>
        from ringo_data_plans where product_id = #{id}
    </select>

    <insert id="save" parameterType="io.factorialsystems.msscprovider.domain.RingoDataPlan">
        insert into ringo_data_plans (product_id, network, category, price, allowance, validity)
        values(#{id}, #{network}, #{category}, #{price}, #{allowance}, #{validity})
    </insert>

    <insert id="saveList" parameterType="java.util.List">
        insert into ringo_data_plans (product_id, network, category, price, allowance, validity) values
        <foreach item="item" index="index" collection="list"  separator=",">
            (#{item.id, jdbcType=VARCHAR}, #{item.network, jdbcType=VARCHAR}, #{item.category, jdbcType=VARCHAR}, #{item.price, jdbcType=VARCHAR}, #{item.allowance, jdbcType=VARCHAR}, #{item.validity, jdbcType=VARCHAR})
        </foreach>
    </insert>
</mapper>
