<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.factorialsystems.msscprovider.dao.ServiceActionMapper">
    <resultMap id="serviceResultMap" type="io.factorialsystems.msscprovider.domain.ServiceAction">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="service_code" property="serviceCode" jdbcType="VARCHAR" />
        <result column="service_name" property="serviceName" jdbcType="VARCHAR" />
        <result column="service_cost" property="serviceCost" jdbcType="DECIMAL"/>
        <result column="provider_id" property="providerId" jdbcType="INTEGER"/>
        <result column="provider_name" property="providerName" jdbcType="VARCHAR"/>
        <result column="provider_code" property="providerCode" jdbcType="VARCHAR"/>
        <result column="activatedBy" property="activatedBy" jdbcType="VARCHAR"/>
        <result column="activated" property="activated" jdbcType="BOOLEAN"/>
        <result column="activation_date" property="activationDate" jdbcType="TIMESTAMP"/>
        <result column="createdAt" property="createdDate" jdbcType="TIMESTAMP"/>
        <result column="createdBy" property="createdBy" jdbcType="VARCHAR"/>
        <result column="suspended" property="suspended" jdbcType="BOOLEAN"/>
        <result column="action_id" property="actionId" jdbcType="INTEGER"/>
        <result column="action_name" property="actionName" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="actionResultMap" type="io.factorialsystems.msscprovider.domain.Action">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="action" property="action" jdbcType="VARCHAR"/>
        <result column="fixed_price" property="fixedPrice" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="Column_List">
        s.id, s.service_code, s.service_name, s.service_cost, s.provider_id, p.name as provider_name, s.action as action_id, sa.action as action_name,
        p.code as provider_code, s.activated, s.createdAt, s.createdBy, s.suspended
    </sql>

    <sql id="action_list">
        id, action, fixed_price
    </sql>

    <select id="findByProviderId" parameterType="java.lang.Integer" resultMap="serviceResultMap">
        select
        <include refid="Column_List"/>
        from provider_services s, providers p, service_actions sa
        where s.provider_id = p.id
        and s.action = sa.id
        and s.provider_id = #{id}
    </select>

    <select id="findAllServices" resultMap="serviceResultMap">
        select
        <include refid="Column_List"/>
        from provider_services s, providers p, service_actions sa
        where s.provider_id = p.id
        and s.action = sa.id
    </select>

    <select id="findByProviderCode" parameterType="java.lang.String" resultMap="serviceResultMap">
        select
        <include refid="Column_List"/>
        from provider_services s, providers p, service_actions sa
        where s.provider_id = p.id
        and s.action = sa.id
        and p.code = #{code}
    </select>

    <select id="findByCode" parameterType="java.lang.String" resultMap="serviceResultMap">
        select
        <include refid="Column_List"/>
        from provider_services s, providers p, providerdb.service_actions sa
        where s.provider_id = p.id
        and s.action = sa.id
        and s.service_code = #{code}
    </select>

    <select id="findAllActions" resultMap="actionResultMap">
        select
        <include refid="action_list"/>
        from service_actions
    </select>

    <select id="findById" parameterType="java.lang.Integer" resultMap="serviceResultMap">
        select
        <include refid="Column_List"/>
        from provider_services s, providers p, providerdb.service_actions sa
        where s.id = #{id}
        and s.action = sa.id
        and s.provider_id = p.id
    </select>

    <insert id="save" parameterType="io.factorialsystems.msscprovider.domain.ServiceAction">
        insert into provider_services(provider_id, service_code,  service_name, service_cost, action, createdBy)
        values (#{providerId},  #{serviceCode}, #{serviceName}, #{serviceCost}, #{actionId}, #{createdBy})

        <selectKey resultType="int" keyProperty="id" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="update" parameterType="io.factorialsystems.msscprovider.domain.ServiceAction">
        update provider_services
        <set>
            <if test="providerId != null">provider_id=#{providerId},</if>
            <if test="serviceCode != null">service_code=#{serviceCode},</if>
            <if test="serviceName != null">service_name=#{serviceName},</if>
            <if test="serviceCost != null">service_cost=#{serviceCost},</if>
            <if test="createdBy != null">createdBy=#{createdBy},</if>
            <if test="activated != null">activated=#{activated},</if>
            <if test="activatedBy != null">activatedBy=#{activatedBy},</if>
            <if test="activationDate != null">activation_date=#{activationDate},</if>
            <if test="suspended != null">suspended=#{suspended},</if>
            <if test="actionId != null">action=#{actionId},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="removeRechargeProvider" parameterType="java.util.Map">
        delete from provider_services_recharge_providers
        where recharge_provider_id = #{recharge_id}
        and provider_service_id = #{service_id}
    </delete>

    <select id="rechargeProviderServiceExists" parameterType="java.util.Map" resultType="java.lang.Boolean">
        select exists(select 1 from provider_services_recharge_providers
                      where recharge_provider_id = #{recharge_id}
                      and provider_service_id = #{service_id})
    </select>

    <insert id="addRechargeProvider" parameterType="java.util.Map">
        insert into  provider_services_recharge_providers(provider_service_id, recharge_provider_id, weight)
        values(#{service_id}, #{recharge_id}, #{weight});
    </insert>

    <update id="amendRechargeProvider" parameterType="java.util.Map">
        update provider_services_recharge_providers set weight = #{weight}
        where recharge_provider_id = #{recharge_id}
        and provider_service_id = #{service_id}
    </update>
</mapper>
