<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.factorialsystems.msscprovider.dao.SingleRechargeMapper">
    <resultMap id="rechargeResultMap" type="io.factorialsystems.msscprovider.domain.rechargerequest.SingleRechargeRequest">
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="service_id" property="serviceId" jdbcType="INTEGER" />
        <result column="service_code" property="serviceCode" jdbcType="VARCHAR" />
        <result column="service_cost" property="serviceCost" jdbcType="DECIMAL"/>
        <result column="recipient" property="recipient" jdbcType="VARCHAR"/>
        <result column="payment_id" property="paymentId" jdbcType="VARCHAR"/>
        <result column="closed" property="closed" jdbcType="BOOLEAN"/>
        <result column="authorization_url" property="authorizationUrl" jdbcType="VARCHAR"/>
        <result column="telephone" property="telephone" jdbcType="VARCHAR"/>
        <result column="product_id" property="productId" jdbcType="VARCHAR"/>
        <result column="payment_mode" property="paymentMode" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="message" property="message" jdbcType="VARCHAR"/>
        <result column="account_type" property="accountType" jdbcType="VARCHAR"/>
        <result column="auto_request_id" property="autoRequestId" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="scheduled_request_id" property="scheduledRequestId" jdbcType="VARCHAR"/>
        <result column="bulk_request_id" property="bulkRequestId" jdbcType="VARCHAR"/>
        <result column="async_request" property="asyncRequest" jdbcType="BOOLEAN"/>
        <result column="email_id" property="emailId" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="factoryResultMap" type="io.factorialsystems.msscprovider.domain.RechargeFactoryParameters">
        <result column="provider_code" property="providerCode" jdbcType="VARCHAR"/>
        <result column="recharge_provider_code" property="rechargeProviderCode" jdbcType="VARCHAR"/>
        <result column="service_action" property="serviceAction" jdbcType="VARCHAR"/>
        <result column="async" property="async" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="Column_List">
        r.id,
        r.user_id,
        r.email_id,
        r.service_id,
        p.service_code,
        r.service_cost,
        r.payment_id,
        r.recipient,
        r.closed,
        r.authorization_url,
        r.telephone,
        r.product_id,
        r.payment_mode,
        r.message,
        r.status,
        r.name,
        r.auto_request_id,
        r.scheduled_request_id,
        r.bulk_request_id,
        r.account_type,
        r.async_request,
        r.createdAt
    </sql>

    <select id="findById" parameterType="java.lang.String" resultMap="rechargeResultMap">
        select
        <include refid="Column_List"/>
        from recharge_requests r, provider_services p
        where r.id = #{id}
        and r.service_id = p.id
    </select>

    <select id="search" parameterType="java.lang.String" resultMap="rechargeResultMap">
        select
        <include refid="Column_List"/>
        from recharge_requests r, provider_services p
        where r.recipient like CONCAT(#{search}, '%')
        and r.service_id = p.id
    </select>

    <select id="factory" parameterType="java.lang.Integer" resultMap="factoryResultMap">
        {call sp_factory(#{id, jdbcType = INTEGER, mode = IN})}
    </select>

    <update id="closeRequest" parameterType="java.lang.String">
        update recharge_requests set closed = true where id = #{id}
    </update>

    <insert id="save" parameterType="io.factorialsystems.msscprovider.domain.rechargerequest.SingleRechargeRequest" >
        insert into recharge_requests(id, user_id, service_id, service_cost, recipient, payment_id, telephone, product_id, authorization_url, redirect_url, payment_mode, status, name, async_request, message, account_type, auto_request_id, scheduled_request_id, bulk_request_id)
        values(#{id}, #{userId}, #{serviceId}, #{serviceCost}, #{recipient}, #{paymentId}, #{telephone}, #{productId}, #{authorizationUrl}, #{redirectUrl}, #{paymentMode}, #{status}, #{name}, #{asyncRequest}, #{message}, #{accountType}, #{autoRequestId}, #{scheduledRequestId}, #{bulkRequestId})
    </insert>

    <insert id="saveRechargeRequests" parameterType="java.util.List">
        insert into recharge_requests(id, user_id, email_id, service_id, service_cost, recipient, payment_id, telephone, product_id, authorization_url,
                                      redirect_url, payment_mode, status, name, async_request, message, account_type, auto_request_id, scheduled_request_id)
        values
        <foreach item="item" index="index" collection="list"  separator=",">
            (#{item.id, jdbcType=VARCHAR}, #{item.user_id, jdbcType=VARCHAR}, #{item.email_id, jdbcType=VARCHAR},#{item.serviceId, jdbcType=INTEGER}, #{item.serviceCost, jdbcType=VARCHAR},
             #{item.recipient, jdbcType=VARCHAR}, #{item.paymentId, jdbcType=VARCHAR}, #{item.telephone, jdbcType=VARCHAR},
             #{item.productId, jdbcType=VARCHAR}, #{item.authorizationUrl, jdbcType=VARCHAR}, #{item.redirectUrl, jdbcType=VARCHAR},
             #{item.paymentMode, jdbcType=VARCHAR}, #{item.status, jdbcType=INTEGER},  #{item.name, jdbcType=VARCHAR}, #{item.asyncRequest, jdbcType=BOOLEAN},
             #{item.message, jdbcType=VARCHAR}, #{item.accountType, jdbcType=VARCHAR}, #{item.autoRequestId, jdbcType=VARCHAR}, #{item.scheduledRequestId, jdbcType=VARCHAR} )
        </foreach>
    </insert>

    <select id="findRequestsByUserId" parameterType="java.lang.String" resultMap="rechargeResultMap">
        select
        <include refid="Column_List"/>
        from recharge_requests r, provider_services p
        where r.user_id = #{id}
        and r.service_id = p.id
    </select>

    <update id="setEmailId" parameterType="java.util.Map">
        update providerdb.recharge_requests set email_id = #{emailId} where id = #{id}
    </update>
</mapper>
