<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.factorialsystems.keycloakremote.mapper.UserMapper">
    <sql id="BASE_TABLE">
        users
    </sql>

    <sql id="BASE_COLUMN">
        id, username, email, password, fullname
    </sql>

    <select id="selectUsers" resultType="io.factorialsystems.keycloakremote.model.User">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
    </select>

    <select id="selectUserById" parameterType="int" resultType="io.factorialsystems.keycloakremote.model.User">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
        <where>
            id = #{id, jdbcType=INTEGER}
        </where>
    </select>

    <select id="selectUserByEmail" parameterType="String" resultType="io.factorialsystems.keycloakremote.model.User">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
        <where>
            email = #{email, jdbcType=String}
        </where>
    </select>
</mapper>
