<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.factorialsystems.msscusers.dao.BeneficiaryMapper">
    <resultMap id="beneficiaryResultMap" type="io.factorialsystems.msscusers.domain.Beneficiary">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="first_name" property="firstName" jdbcType="VARCHAR"/>
        <result column="last_name" property="lastName" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="telephone" property="telephone" jdbcType="VARCHAR"/>
        <result column="created_on" property="createdOn" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="column_list">
        b.id, b.user_id, u.user_name, b.first_name, b.last_name, b.email, b.telephone, b.created_on
    </sql>

    <select id="findByUserId" parameterType="java.lang.String" resultMap="beneficiaryResultMap">
        select
        <include refid="column_list"/>
        from beneficiary b, users u
        where b.user_id = #{id}
        and b.user_id = u.id
    </select>

    <select id="findByUserName" parameterType="java.lang.String" resultMap="beneficiaryResultMap">
        select
        <include refid="column_list"/>
        from beneficiary b, users u
        where u.user_name = #{name}
        and b.user_id = u.id
    </select>

    <select id="findById" parameterType="java.lang.Integer" resultMap="beneficiaryResultMap">
        select
        <include refid="column_list"/>
        from beneficiary b, users u
        where b.id = #{id}
        and b.user_id = u.id
    </select>

    <insert id="save" parameterType="io.factorialsystems.msscusers.domain.Beneficiary">
        insert into beneficiary(user_id, first_name, last_name, email, telephone)
        values(#{userId}, #{firstName}, #{lastName}, #{email}, #{telephone})

        <selectKey resultType="int" keyProperty="id" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="saveList" parameterType="java.util.List">
        insert into beneficiary(user_id, first_name, last_name, email, telephone) values
        <foreach item="item" index="index" collection="list"  separator=",">
            (#{item.userId, jdbcType=VARCHAR}, #{item.firstName, jdbcType=VARCHAR}, #{item.lastName, jdbcType=VARCHAR}, #{item.email, jdbcType=VARCHAR}, #{item.telephone, jdbcType=VARCHAR})
        </foreach>
    </insert>

    <update id="update" parameterType="io.factorialsystems.msscusers.domain.Beneficiary">
        update beneficiary
        <set>
            <if test="firstName != null">first_name=#{firstName},</if>
            <if test="lastName != null">last_name=#{lastName},</if>
            <if test="email != null">email=#{email},</if>
            <if test="telephone != null">telephone=#{telephone},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from beneficiary where id = #{id}
    </delete>
</mapper>


