<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.factorialsystems.msscusers.dao.UserMapper">
    <resultMap id="userResultMap" type="io.factorialsystems.msscusers.domain.User">
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="user_name" property="username" jdbcType="VARCHAR"/>
        <result column="first_name" property="firstName" jdbcType="VARCHAR"/>
        <result column="last_name" property="lastName" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" jdbcType="BOOLEAN"/>
        <result column="email_verified" property="emailVerified" jdbcType="VARCHAR"/>
        <result column="created_date" property="createdDate" jdbcType="TIMESTAMP"/>
        <result column="wallet_id" property="walletId" jdbcType="VARCHAR"/>
        <result column="organization_id" property="organizationId" jdbcType="VARCHAR"/>
        <result column="profile_picture" property="profilePicture" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Column_List_Long">
       id, user_name, first_name, last_name, email, enabled, email_verified, created_date, wallet_id, organization_id, profile_picture
    </sql>

    <sql id="Column_List_Short">
        id, user_name, first_name, last_name, email, enabled, email_verified, created_date
    </sql>

    <select id="findAll" resultMap="userResultMap">
        select
        <include refid="Column_List_Short"/>
        from users
    </select>

    <select id="findByName" resultMap="userResultMap">
        select
        <include refid="Column_List_Short"/>
        from users where user_name = #{name}
    </select>

    <select id="search" parameterType="java.lang.String" resultMap="userResultMap">
        select
        <include refid="Column_List_Short"/>
        from users
        where user_name like CONCAT(#{search}, '%')
    </select>

    <select id="findUserById" parameterType="java.lang.String" resultMap="userResultMap">
        select
        <include refid="Column_List_Long"/>
        from users where id = #{id}
    </select>

    <select id="findUserByOrganizationId" parameterType="java.lang.String" resultMap="userResultMap">
        select
        <include refid="Column_List_Long"/>
        from users where organization_id = #{id}
    </select>

    <select id="findUserForOrganization" resultMap="userResultMap">
        select
        <include refid="Column_List_Short"/>
        from users where organization_id is null
    </select>

    <insert id="save" parameterType="io.factorialsystems.msscusers.domain.User">
        insert into users(id, user_name, first_name, last_name, email, enabled, email_verified, wallet_id)
        values (
                #{id, jdbcType=VARCHAR}, #{username, jdbcType=VARCHAR},
                #{firstName, jdbcType=VARCHAR}, #{lastName, jdbcType=VARCHAR},
                #{email, jdbcType=VARCHAR}, #{enabled, jdbcType=BOOLEAN},
                #{emailVerified, jdbcType=BOOLEAN}, #{walletId, jdbcType=VARCHAR}
        )
    </insert>

    <update id="update" parameterType="io.factorialsystems.msscusers.domain.User">
        update users
        <set>
            <if test="firstName != null">first_name=#{firstName},</if>
            <if test="lastName != null">last_name=#{lastName},</if>
            <if test="walletId != null">wallet_id=#{walletId},</if>
            <if test="secret != null">secret=#{secret},</if>
            <if test="organizationId != null">organization_id=#{organizationId},</if>
            <if test="profilePicture != null">profile_picture=#{profilePicture},</if>
        </set>
        where id = #{id}
    </update>

    <update id="removeOrganization" parameterType="java.lang.String">
        update users set organization_id = null where id = #{id}
    </update>

    <update id="updateProfilePicture" parameterType="java.util.Map">
        update users set profile_picture = #{picture} where id = #{id}
    </update>
</mapper>
